.header {
font-family: 'Raleway', sans-serif;
font-size: 40px;
text-align: center;
font-weight: bold;
text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customerInfo {
  text-align: center;
}

.custoName {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid teal;
  width: fit-content;
  text-align: center;
  align-content: center;
  margin: 10px auto;
}

.custoEmail {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;

}

.custoAddyPh {
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
}

.custoSoc {
    font-family: 'Raleway', sans-serif;
    color: teal;

}
